# FAMLY Bias metrics example usage

In [1]:
from famly.bias.report import *
from famly.util.dataset import Datasets

Get the [german lending dataset](https://archive.ics.uci.edu/ml/datasets/statlog+(german+credit+data))

In [2]:
datasets = Datasets()
df = datasets('german_lending').train()
df.shape

(1000, 21)

In [3]:
df.head()

,CheckingAC_Status,MaturityMonths,CreditHistory,Purpose,LoanAmount,SavingsAC,Employment,InstalmentPctOfIncome,SexAndStatus,OtherDebts,...,Property,Age,OtherInstalmentPlans,Housing,NumExistingLoans,Job,Dependents,Telephone,ForeignWorker,Class1Good2Bad
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

## Calculate pre-training bias metrics

In [12]:
# Measure bias when the attribute ForeignWorker is true.
facet_column = FacetCategoricalColumn('ForeignWorker', ['A201'])

In [13]:
report = bias_report(df, facet_column, 'Class1Good2Bad')

In [14]:
report

{'CI': {'A201': -0.926}}